{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="container px-6 mx-auto grid">
  <div class="flex justify-between my-6">
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-200">Transactions</h2>
  </div>
  
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">Transaction ID</th>
            <th class="px-4 py-3">Client</th>
            <th class="px-4 py-3">Amount</th>
            <th class="px-4 py-3">Source</th>
            <th class="px-4 py-3">Date</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for transaction in transactions %}
          
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3 text-sm">{{transaction.transaction_id}}</td>
            <td class="px-4 py-3">
                  <p class="font-semibold capitalize">{{transaction.customer}}</p>
            </td>
            <td class="px-4 py-3 text-sm">£{{transaction.amount}}</td>
            <td class="px-4 py-3 text-xs">
              {% if transaction.source is 1 %}
              <span class="px-2 py-1 font-semibold leading-tight text-yellow-500 bg-yellow-100 rounded-full dark:bg-yellow-500 dark:text-yellow-100"> {{transaction.get_source_display}} </span>
              {% elif transaction.source is 2 %}
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"> {{transaction.get_source_display}} </span>
              {% elif transaction.source is 3 %}
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100"> {{transaction.get_source_display}} </span>
              {% endif %}
            </td>
            <td class="px-4 py-3 text-sm uppercase">{{transaction.created_on|date}}</td>

          </tr>
          {% empty %}
          <tr>
            <td colspan="6">
              <div class="flex p-5 justify-center"> 
                You don't have any transactions
              </div>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

<script>

</script>

{% endblock contentarea %}
