{% extends './base.html' %} {% load static %} {% block contentarea %}
{% include './banner.html' with title='About Us' %}

<!-- lorem -->
<div class="mt-16">
  <div data-aos="flip-down" class="text-left max-w-screen-lg mx-5 md:mx-auto">
    <h1 class="text-3xl text-center font-bold mb-4"><span class="text-blue-400"> Welcome to Kidz Runz!</span></h1>
    <div class="text-gray-600 flex flex-col space-y-4 border-t border-blue-400 mt-5 pt-5">
      <p>At Kidz Runz, we are passionate about supporting families and caregivers in enriching children's opportunities to participate in local sporting activities. We understand parents' challenges in juggling busy schedules, so we're here to help.</p>
      <p>Our mission is simple: to ensure the safety and well-being of children as they engage in sports and other active outings. Every child deserves to explore their interests, develop their skills, and have fun in a secure and nurturing environment. That's why we have created a comprehensive support service that caters to the needs of children and their families.</p>
      <p>When you choose Kidz Runz, you can rest assured that your child will be in the care of our dedicated Child Activity Mentors. Our mentors are experienced professionals who have undergone thorough background checks, including fully enhanced DBS checks, to ensure their suitability for working with children. They are committed to creating a safe and enjoyable experience for each child they accompany.</p>
      <p>Safety is our top priority. We provide reliable transportation services, picking up children from the comfort and security of their own homes and safely transporting them to their sporting or active sessions. Our fleet of vehicles is well-maintained, ensuring every child's smooth and secure journey.</p>
      <p>To keep your child energized and hydrated during their activities, we provide a selection of nutritious snacks and beverages. We understand the importance of fueling their bodies for optimal performance and well-being.</p>
      <p>Communication and feedback are essential components of our service. We work closely with coaches and teachers to gather information about each session, enabling us to provide parents with comprehensive reports on their child's progress and participation. We believe transparency and open communication are vital in building trust and ensuring that parents are well-informed about their child's experiences.</p>
      <p>At Kidz Runz, we strive to be more than just a transportation service. We aim to be a reliable partner for families, supporting them in fostering their child's interests and helping them unlock their full potential. We take pride in our commitment to professionalism, reliability, and the well-being of every child we serve.</p>
      <p>Join us on this journey and allow your child to thrive in their sporting and active pursuits. We can create a safe, supportive environment that nurtures their passion and encourages growth.</p>
      <p>Kidz Runz: Where Safety and Fun Go Hand in Hand!</p>
    </div>
  </div>
</div>

<!-- .container -->

{% endblock contentarea %}
