{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="bg-blue-900">
  <div class="px-8 mx-auto flex flex-col lg:flex-row items-start">
    <!--Left Col-->
    <div class="flex w-full justify-center lg:pt-24 text-center lg:text-left mb-5 md:mb-0">
      <h1 data-aos="fade-right" data-aos-once="true" class="my-4 w-full text-center text-5xl font-bold leading-tight text-gray-200">ABOUT US</h1>
    </div>
  </div>
</div>

<!-- container -->

<!-- lorem -->
<div class="mt-16">
  <div data-aos="flip-down" class="text-left md:text-center max-w-screen-md mx-5 md:mx-auto">
    <h1 class="text-3xl font-bold mb-4">What is<span class="text-blue-400"> Kidzrunz?</span></h1>
    <div class="text-gray-500 flex flex-col space-y-2">
    <p>Welcome to KidzRunz! We understand that as a busy parent or caregiver, it can be challenging to keep up with your child's after-school or weekend activities. That's where we come in with our Child Activity Mentor Support (CAMS) services. </p>
    <p>Our team of highly trained and safeguarded Residential Support Workers (RSW), DBS enhance check is dedicated to engaging with children and young adults and ensuring their safety and well-being. </p>
    <p>We offer a reliable and safe solution to escort and support your child through their pre-arranged activity, whether it's football training, martial arts classes, piano lessons, or any other activity. At KidzRunz, we are committed to supporting your child's interests. </p>
    <p>We provide recreation outings to exciting activities like the cinema, theme parks, farms, crazy golf, GoApe, trampolining parks, arcades, and more. Our aim is to provide your child with safe and fun activities while giving you peace of mind. </p>
    <p>We believe that providing safe and engaging activities for children is crucial, and we are thrilled to be able to offer our services to families and caregivers. </p>
    <p>Thank you for considering KidzRunz, and we look forward to working with you to meet your child/young person's needs.</p>
    </div>
  </div>
</div>

<!-- .container -->

{% endblock contentarea %}
