{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="bg-blue-900">
  <div class="max-w-screen-xl px-8 mx-auto flex flex-col lg:flex-row items-start">
    <!--Left Col-->
    <div class="flex w-full justify-center lg:pt-24 text-center lg:text-left mb-5 md:mb-0">
      <h1 data-aos="fade-right" data-aos-once="true" class="my-4 w-full text-center text-5xl font-bold leading-tight text-gray-200">Mentoring Activate Packages</h1>
    </div>
  </div>
</div>

<!-- container -->

<!-- lorem -->
<div class="mt-16 px-5 md:px-20 mx-auto flex flex-col md:flex-row space-y-5 md:space-x-10 md:space-y-0">
  <div class="md:w-1/2">
    <img class="rounded-lg w-full h-96 object-cover" src="{% static 'images/activities.jpg' %}">
  </div>

  <div class="md:w-1/2 text-gray-500 flex flex-col space-y-3">
    <p>We offer bespoke packages aimed at youths with SEN, learning difficulties, those struggling with family dynamics as they grow, learn and become young adults, and more.</p>

    <p>We provide youth recreational activity packages and encourage families to adopt a positive reinforcement approach to parenting. </p>


    <p>Here are the three main packages below. All packages include the hourly rate and expenses of activities during the session. Activities can be tailored to young adults. </p>

    <p>Each package includes standard KidzRunz© Activities.</p>

    <p>Additional vouchers can be purchased to cover the cost of specific activities you would like to include in your bespoke package.</p>

    <p>Connecting with us was the first step; now it's time to pick the package that works best for you and your family!</p>

    <p>Can't see exactly what you're looking for? No problem!</p>
  </div>
</div>




<main class="max-w-6xl mx-auto pt-32 pb-36 px-8">
  
  <div class="max-w-screen-lg mx-auto mb-14 text-center">
    <h1 class="text-4xl font-semibold mb-6 lg:text-5xl"><span class="text-indigo-600">Our</span> Packages</h1>
    <p class="text-xl text-gray-500 font-medium">KidzRunz Activity Packages At KidzRunz, we offer three different activity packages to meet your family's unique needs and interests. Our packages include a range of activities, snacks, transportation services, and mentorship options to ensure a safe, fun, and engaging experience for your child. </p>
  </div>
  
  <div class="flex flex-col justify-between items-center lg:flex-row lg:items-start">
    
    {% for package in packages %} 
    {% comment %} {% if forloop.counter|divisibleby:3 %} {% endcomment %}
        <div class="w-full flex-1 mt-8 mx-1 p-8 order-2 bg-white shadow-xl rounded-3xl sm:w-96 lg:w-full lg:order-1">
          <div class="mb-7 pb-7 flex items-center border-b border-gray-300">
            <img src="media/{{package.image}}"  alt="" data-aos-once="true" class="rounded-3xl h-20 w-20 object-contain" />
            <div class="ml-5">
              <span class="block text-2xl font-semibold">{{package.name}}</span>
              <span><span class="font-medium text-gray-500 text-xl align-top">£</span><span class="text-3xl font-bold">{{package.price}} </span></span><span class="text-gray-500 font-medium"></span> 
              {% comment %} / {{package.duration}} hours {% endcomment %}
            </div>
          </div>
          <ul class="mb-7 font-medium text-gray-500">
            {% for line in package.description %}
            <li class="flex text-lg mb-2">
              <img src="https://res.cloudinary.com/williamsondesign/check-grey.svg" />
              <span class="ml-3">{{line}}</span>
            </li>
            {% endfor %}
          </ul>
          <a href="{% url 'console:appointment' %}" class="flex justify-center items-center bg-indigo-600 rounded-xl py-5 px-4 text-center text-white text-xl">
            Choose Plan
            <img src="https://res.cloudinary.com/williamsondesign/arrow-right.svg" class="ml-2" />
          </a>
        </div>
      {% endfor %}
  </div>

  
  <div class="max-w-screen-lg mx-auto mt-20 text-center text-gray-500 font-medium text-base">
    <p>Activity Vouchers In addition to our activity packages, we also offer activity vouchers that can be purchased to cover the cost of specific activities you would like to include in your bespoke package. Each package includes standard KidzRunz©️ Activities, and additional vouchers can be purchased to customize your package. </p>
    <p class="mt-5">Please remember that clients have up to 3 months to use the booked hours, and the minimum sessions are 3 hours. Once you have connected with us, our team will work with you to help you select the package that best fits your family's needs and interests. Please feel free to contact us today to learn more about our packages and schedule your child's unforgettable KidzRunz experience.</p>
  </div>
  
</main>

<!-- .container -->

{% endblock contentarea %}
