{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="bg-blue-900">
  <div class="max-w-screen-xl px-8 mx-auto flex flex-col lg:flex-row items-start">
    <!--Left Col-->
    <div class="flex w-full justify-center lg:pt-24 text-center lg:text-left mb-5 md:mb-0">
      <h1 data-aos="fade-right" data-aos-once="true" class="my-4 w-full text-center text-5xl font-bold leading-tight text-gray-200">CAMS PACE APPROACH</h1>
    </div>
  </div>
</div>

<!-- container -->

<!-- lorem -->
<div class="mt-16 px-5 md:px-20 mx-auto flex flex-col md:flex-row space-y-5 md:space-x-10 md:space-y-0">
  <div class="md:w-1/2">
    <img class="rounded-lg w-full h-96 object-cover" src="{% static 'images/activities.jpg' %}">
  </div>

  <div class="md:w-1/2 text-gray-500 flex flex-col space-y-3 my-auto text-base">
    <p>KidzRunz Child Activity Mentor Support believes in creating a safe and nurturing environment for children to grow and develop. To achieve this, we use the principles of Playfulness, Acceptance, Curiosity, and Empathy principles when working with children. </p>
    <p>Playfulness: We understand that children learn best through play, and we encourage playfulness in our sessions. Our mentors incorporate fun games and conversations that create a positive and enjoyable experience. Playfulness helps children develop their creativity, imagination, and problem-solving skills. </p>
    <p>Acceptance: At KidzRunz, we value each child's individuality and unique personality. We foster a non-judgmental and inclusive environment where children can express themselves freely. Our mentors practice acceptance by respecting each child's differences and creating a space where they feel safe and accepted. </p>
    <p>Curiosity: We encourage children to explore and discover their interests and passions. Our mentors are curious about each child's individuality and use this curiosity to engage them in activities that spark their interest. Curiosity helps children develop critical thinking and analytical skills, preparing them for future challenges.  Empathy: We recognize the importance of empathy in building relationships with children. Our CAMS use empathy to understand each child's feelings and emotions, creating a supportive and caring environment. Empathy helps children develop social and emotional intelligence, building confidence and self-esteem. </p>
    <p>In summary, KidzRunz Child Activity Mentor Support uses the principles of Playfulness, Acceptance, Curiosity, and Empathy when working with children. We believe these principles are essential in creating a positive and nurturing environment that allows children to grow and develop to their full potential.</p>
  </div>
</div>

<!-- .container -->

{% endblock contentarea %}
