{% extends './base.html' %}
{% load static %}
{% block contentarea %}
  {% include './banner.html' with title='CAMS' %}
  <!-- lorem -->
  <div class="mt-16">
    <div data-aos="flip-down"
         class="text-left max-w-screen-lg mx-5 md:mx-auto">
      <h1 class="text-3xl text-center font-bold mb-4">
        <span class="text-blue-400">Who are our CAMS staff at Kidz Runz?</span>
      </h1>
      <div class="text-gray-600 flex flex-col space-y-4 border-t border-blue-400 mt-5 pt-5">
        <p>Who are our CAMS staff at Kidz Runz? Let us introduce you to our incredible team of Child Activity Mentor Support professionals, who play a vital role in creating memorable experiences for your children.</p>
        <p>Our CAMS staff are trained experts in providing recreational activities, mentoring, and support to children while prioritizing their safety and well-being. They bring a wealth of experience, having worked in Local Authority Children Homes as Youth Workers and Children's Playworkers. Before joining our team, they undergo rigorous background checks, including a full DBS Enhanced check, ensuring the utmost trust and security.</p>
        <p>We understand that every child is unique, so we have CAMS staff members who specialize in supporting children with special educational needs and disabilities (SEND). They possess the knowledge and expertise to cater to the specific needs of these children, creating an inclusive and enriching environment for everyone.</p>
        <p>But it's not just their expertise that makes our CAMS staff special. At Kidz Runz, we embrace the approach developed by Dr. Dan Hughes, an esteemed American psychologist who works with children. It's called PACE, which stands for Playfulness, Acceptance, Curiosity, and Empathy. These principles guide our interactions with young people, promoting a sense of safety and trust. We believe that connection is the first step towards positive growth in a child's life, and our CAMS staff are dedicated to fostering that connection with each child they support.</p>
        <p>Our CAMS staff are passionate about sports and activity outings. They bring excitement, enthusiasm, and a genuine love for creating memorable experiences for your children. Whether it's cheering them on during sports classes, engaging in fun-filled activities, or providing the support and guidance they need, our CAMS staff are committed to truly making each part of your child's journey with Kidz Runz unforgettable.</p>
        <p>So rest assured that your child will be in the best hands with our dedicated CAMS team. They embody our playfulness, acceptance, curiosity, and empathy values, ensuring that your child feels safe, supported, and empowered to explore their potential.</p>
        <p>Join us at Kidz Runz and experience the difference that our incredible CAMS staff can make in your child's life. Connect with us today to learn more about our services and how we can support your child's active and enriching journey!</p>
      </div>
    </div>
  </div>
  <!-- .container -->
{% endblock contentarea %}
