{% extends './base.html' %}
{% load static %}
{% block contentarea %}
  {% include './banner.html' with title='CAMS' %}
  <!-- lorem -->
  <div class="mt-16">
    <div data-aos="flip-down"
         class="text-left max-w-screen-lg mx-5 md:mx-auto">
      <h1 class="text-3xl text-center font-bold mb-4">
        <span class="text-blue-400">Who are our CAMS staff at Kidz Runz?</span>
      </h1>
      <div class="text-gray-600 flex flex-col space-y-4 border-t border-blue-400 mt-5 pt-5">
        <p>Exciting News for Local Children, Parents, and Caregivers: Unleashing the Extraordinary CAMS Staff at Kidz Runz!</p>
        <p>Prepare to be amazed by the incredible team of Child Activity Mentor Support (CAMS) professionals at Kidz Runz! They are the driving force behind creating unforgettable experiences and shaping your child's journey with joy, growth, and lifelong memories.</p>
        <p>Our CAMS staff are more than just experts in recreational activities and mentoring; they are dedicated guardians of your child's safety and well-being. With extensive backgrounds in Local Authority Children Homes as Youth Workers and Children's Playworkers, they bring a treasure trove of knowledge and expertise to every interaction. Rest easy knowing that our CAMS staff undergo rigorous background checks, including full DBS Enhanced checks, ensuring the utmost trust and security.</p>
        <p>We know that every child is unique, so inclusivity is at our approach's core. Our specialized CAMS staff members are trained to support children with special educational needs and disabilities (SEND). Their expertise creates an enriching environment where every child's potential can flourish.</p>
        <p>But what truly sets our CAMS staff apart is their unwavering commitment to the PACE approach pioneered by Dr. Dan Hughes, an acclaimed American psychologist. PACE stands for Playfulness, Acceptance, Curiosity, and Empathy. It's the secret ingredient behind the magical connections our CAMS staff foster with your children. Embracing these principles creates a safe and nurturing space where genuine connections thrive. We firmly believe these connections are the key to unlocking your child's full potential, and our CAMS staff wholeheartedly embraces this belief.</p>
        <p>Get ready for a whirlwind of excitement! Our CAMS staff are bursting with passion for sports and thrilling activities. From cheering on children during sports classes to leading engaging adventures, our CAMS staff go above and beyond to create awe-inspiring moments that will stay with your child forever.</p>
        <p>Rest assured; your child is in the hands of our devoted CAMS team. They embody the essence of playfulness, acceptance, curiosity, and empathy, ensuring your child feels safe, supported, and empowered to explore their wildest dreams.</p>
        <p>Don't miss out on this extraordinary opportunity! Join us at Kidz Runz and witness the incredible impact our CAMS staff can make in your child's life. Contact us today to discover more about our services and how we can support your child's active and enriching journey. Get ready for an adventure like no other!</p>
      </div>
    </div>
  </div>
  <!-- .container -->
{% endblock contentarea %}
