{% extends './base.html' %} {% load static %} {% block contentarea %}
{% include './banner.html' with title='Consultation' %}

<!-- container -->
<div class="mt-16">
  <div data-aos="flip-down" class="text-left max-w-screen-lg mx-5 md:mx-auto">
    <h1 class="text-3xl text-center font-bold mb-4"><span class="text-blue-400">Booking Your Free Consultation with Kidz Runz</span></h1>
    <div class="text-gray-600 flex flex-col space-y-4 border-t border-blue-400 mt-5 pt-5">
      <p>At Kidz Runz, we offer a free consultation to discuss your needs and explore how our services can support your child and family. To book your free consultation, follow the steps below:</p>
      <p>1. Call us: You can call us to schedule your consultation. Please dial our landline at +44 2038933634 or our mobile number at +447939990587. Our friendly team will be happy to help you find a suitable appointment time.</p>
      <p>2. Email us: If you would like, email us at info@kidzrunz.co.uk to request your free consultation. Please provide your contact details and any specific questions or concerns. Our team will quickly contact you to schedule a convenient consultation time.</p>
      <p>During the consultation, we will take the time to understand your child's needs, talk about our services in detail, and address any questions or concerns you may have. This initial conversation allows us to tailor our support to meet your child's unique requirements and ensures Kidz Runz fits your family.</p>
      <p>We are committed to providing a safe and nurturing environment for every child we support. Our team is dedicated to safeguarding the well-being of children and families, and we prioritize open and honest communication throughout the consultation process.</p>
      <p>Take the first step towards empowering your child and providing them with the support they need. Book your free consultation with Kidz Runz today and discover how our services can positively impact your child's life.</p>
      <p>We look forward to speaking with you and discussing how Kidz Runz can assist you and your family. If you have any questions or need additional information, please do not hesitate to contact us using my contact details.</p>
      <p>Note: Consultations are available, and we recommend booking in advance to secure your preferred time slot.</p>
    </div>
  </div>
</div>
<!-- lorem -->
<div class="my-16">

  <div data-aos="flip-down" class="text-center w-full-md mx-5 md:mx-20 mt-20">
    <div data-aos="fade-up" class="flex flex-col md:flex-row justify-center space-y-5 md:space-y-0 md:space-x-6 lg:space-x-10 mt-7">

      <form class="md:w-1/2 space-y-4 md:space-y-6 text-left" action="" method="POST">
        {% csrf_token %}
        <div class="flex space-x-5">  
          <div class="w-full">
            <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Full name</label>
            <input type="text" name="full_name" id="full_name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="" />
          </div>
          <div class="w-full">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="" />
          </div>
        </div>
        <div>
          <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Message</label>
          <textarea rows="5" name="message" id="message" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="write your message here" required="" ></textarea>
        </div>
        <button type="submit" class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Send message</button>
      </form>
    </div>
  </div>
</div>

<!-- .container -->

{% endblock contentarea %}
