{% extends './base.html' %} {% load static %} {% block contentarea %}
{% include './banner.html' with title='FAQs' %}

<!-- lorem -->
<div class="mt-16">
  <div data-aos="flip-down" class="text-left max-w-screen-lg mx-5 md:mx-auto">
    <h1 class="text-3xl text-center font-bold mb-4"><span class="text-blue-400">Frequently Asked Questions (FAQ) - Kidz Runz</span></h1>
    <div class="text-gray-600 flex flex-col space-y-4 border-t border-blue-400 mt-5 pt-5">
      <b>1. What is Kidz Runz?</b>
      <p>Kidz Runz is a support service that helps families and caregivers facilitate children's involvement in local sporting activities and active outings. We provide safe transportation, Child Activate Mentors, snacks and beverages, and report writing for each session.</p>

      <b>2. How does Kidz Runz ensure the safety of children?</b>
      <p>At Kidz Runz, we take safety seriously. All our Child Activity Mentors Support (CAMS) undergo a thorough DBS enhanced check to ensure their suitability for working with children. We prioritize safeguarding and have protocols in place to report and address any concerns that may arise.</p>

      <b>3. What age group does Kidz Runz cater to?</b>
      <p>Kidz Runz caters to children of various ages, from early childhood to adolescence. We tailor our services to meet the unique needs of each child, ensuring a safe and enjoyable experience.</p>

      <b>4. How do I book Kidz Runz services?</b>
      <p>Booking Kidz Runz services is easy. You can contact us by phone at +44 2038933634 or through email at info@kidzrunz.co.uk. We offer a free consultation to discuss your child's requirements and determine the best support package.</p>

      <b>5. Can Kidz Runz accommodate specific dietary needs?</b>
      <p>Yes, we strive to accommodate specific dietary needs and preferences. Please let us know about any dietary restrictions or allergies during the consultation process, and we will make sure you provide appropriate snacks and beverages for your child.</p>

      <b>6. Are sporting activities and outings costs included in the Kidz Runz packages?</b>
      <p>Our packages include the pricing for each sporting activity or active outing and the necessary fees. You don't have to worry about additional expenses related to these activities.</p>

      <b>7. Can Kidz Runz assist with other activities besides sports?</b>
      <p>Absolutely! Kidz Runz is not limited to sports activities. We can also support other activities such as cinema experiences, visits to theme parks, museums, and more. Please let us know what you need, and we will tailor our services accordingly.</p>

      <b>8. How long is the duration of Kidz Runz sessions?</b>
      <p>Kidz Runz offers different package options with varying session durations. Our packages include 3-hour, 6-hour, and 9-hour sessions, providing flexibility based on your child's needs and scheduling preferences.</p>

      <b>9. How far in advance should I book Kidz Runz services?</b>
      <p>We recommend booking Kidz Runz services in advance to secure your preferred time slots. Popular time slots may fill up quickly, so it's best to contact us whenever possible.</p>

      <b>10. What is the cancellation policy?</b>
      <p>Please notify us as soon as possible to cancel or reschedule sessions. We understand that unexpected circumstances may arise and will do our best to accommodate changes. However, late cancellations may be subject to a cancellation fee.</p>

      <p>If you have any additional questions or need further clarification, please don't hesitate to let us know. We provide all the necessary support and information to ensure a seamless experience for you and your child with Kidz Runz.</p>

    </div>
  </div>
</div>

<!-- .container -->

{% endblock contentarea %}
