{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="bg-blue-900">
  <div class="max-w-screen-xl px-8 mx-auto flex flex-col lg:flex-row items-start">
    <!--Left Col-->
    <div class="flex w-full justify-center lg:pt-24 text-center lg:text-left mb-5 md:mb-0">
      <h1 data-aos="fade-right" data-aos-once="true" class="my-4 w-full text-center text-5xl font-bold leading-tight text-gray-200">Director's Story</h1>
    </div>
  </div>
</div>

<!-- container -->

<!-- lorem -->
<div class="mt-16 px-5 md:px-20 mx-auto flex flex-col md:flex-row space-y-5 md:space-x-10 md:space-y-0">
  <div class="md:w-1/2">
    <img class="rounded-lg w-full object-cover" src="{% static 'images/activities.jpg' %}">
  </div>

  <div class="md:w-1/2 text-gray-500 flex flex-col space-y-3 my-auto">
    <p>Meet Kenneth Holder, the Director of KidzRunz. Kenneth's experiences have shaped his passion for caregiving and dedication to supporting and mentoring children in need. </p>
 
    <p>Raised in the care system, Kenneth had a positive experience with his foster carers and maintained a close relationship with them. Despite experiencing the loss of a child, he found strength in his relationship with his daughter and has always been passionate about working with children. </p>
    
    <p>Kenneth is a mentor to his children, nephews, and nieces. He is also a fully qualified Residential Support Worker at a Local Authority Children Care Home in his community. He is committed to providing children with the care, support, and mentorship they need to thrive. </p>
    
    <p>KidzRunz is a passion project for Kenneth, allowing him to do what he loves daily by giving back to needy children. His dedication to making a positive difference in children's lives drives him to provide safe and engaging activities through KidzRunz. </p>
    
    <p>Kenneth's personal story is a testament to his commitment to caring for children, and he is proud to lead the team at KidzRunz in their mission to provide support and mentorship to children in need.</p>    
  </div>
</div>


<!-- .container -->

{% endblock contentarea %}
