{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="bg-blue-900">
  <div class="max-w-screen-xl px-8 mx-auto flex flex-col lg:flex-row items-start">
    <!--Left Col-->
    <div class="flex w-full justify-center lg:pt-24 text-center lg:text-left mb-5 md:mb-0">
      <h1 data-aos="fade-right" data-aos-once="true" class="my-4 w-full text-center text-5xl font-bold leading-tight text-green-600"><span class="text-blue-400">Leadership</span></h1>
    </div>
  </div>
</div>

<!-- container -->

<!-- lorem -->
<div class="mt-16 px-5 md:px-20 mx-auto flex flex-col md:flex-row space-y-5 md:space-x-10 md:space-y-0">
  <div class="md:w-1/2">
    <img class="rounded-lg w-full object-cover" src="{% static 'images/activities.jpg' %}">
  </div>

  <div class="md:w-1/2 text-gray-500 flex flex-col space-y-3 my-auto">
    <p>Kenneth Holder the Director of KidzRunz was brought up in care in the system, from the age of 12 years old.  He had a great upbringing with his foster carers and still has a beautiful relationship with his foster carers.  He still remembers fondly all the people who supported him including his social worker.  He had his first child at the age of twenty-four years old and had a child but sadly his son passed away around eight years ago at the age of six.  He would have been 14 years old now.  He is grateful that he was able for him.  He was at Great Ormond Street and remembers the care and support his son received.  </p>
 
    <p>The loss was a low point and a battle for Kenneth.  He has a daughter, and she was a solid rock during this time.  They spent a great deal of time together, he would take her out and engage with her.  They have a great father daughter relationship.</p>
    
    <p>Kenneth has always been a carer and he would put on great parties for his children and if he went to a party he would engage with the children.  </p>
    
    <p>He has worked with children for many years and is a mentor and Father to his own children, nephews, and nieces.  He began this journey as a passion project and was encouraged by his friends to structure it as a business. He cares and loves engaging and supporting children.</p>
    
    <p>He wants to make a difference in children’s lives.  He understands how difficult it can be for young people especially about peer pressure.  He has worked in the system and is fully qualified to not only care for children but to nurture and mentor them.  </p>
    
    <p>He is doing what he loves every day which is caring, supporting mentoring and giving back what was given to him.</p>
  </div>
</div>


<!-- .container -->

{% endblock contentarea %}
