{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="bg-blue-900">
  <div class="max-w-screen-xl px-8 mx-auto flex flex-col lg:flex-row items-start">
    <!--Left Col-->
    <div class="flex w-full justify-center lg:pt-24 text-center lg:text-left mb-5 md:mb-0">
      <h1 data-aos="fade-right" data-aos-once="true" class="my-4 w-full text-center text-5xl font-bold leading-tight text-gray-200">MINDFULNESS APPROACH</h1>
    </div>
  </div>
</div>

<!-- container -->

<!-- lorem -->
<div class="mt-16 px-5 md:px-20 mx-auto flex flex-col md:flex-row space-y-5 md:space-x-10 md:space-y-0">
  <div class="md:w-1/2">
    <img class="rounded-lg w-full h-96 object-cover" src="{% static 'images/activities.jpg' %}">
  </div>

  <div class="md:w-1/2 text-gray-500 flex flex-col space-y-3 my-auto text-base">
    <p>At KidzRunz, we take a mindfulness approach to help young adults achieve their goals, focusing on resilience, well-being, and personal growth. Practicing mindfulness can positively impact mental health and emotional well-being, and we are dedicated to helping children develop a mindfulness practice that works for them. </p>
    <p>We understand that every child is unique and has challenges and needs. That's why we tailor our mindfulness sessions to meet the needs of each participant, ensuring they get the most out of the activities. Our experienced Residential Support Workers (RSW) team is trained to work with children who exhibit complex behaviors, disengage from mainstream supports, and struggle to maintain relationships.</p>
    <p>We also understand that mindfulness can be challenging for some young people, and we approach this with patience and understanding. We encourage children to be kind and compassionate towards themselves, and we remind them that mindfulness is a process that takes time and practice. Our engaging mindset with children is rooted in a belief that every child has the potential to achieve their goals and reach their full potential. We strive to create a safe and supportive environment where children feel empowered to grow and develop personally and emotionally. </p>
    <p>At KidzRunz, we are committed to helping children develop the skills and mindset they need to navigate life's challenges with confidence and resilience. Mindfulness is an essential tool for achieving this, and we are proud to offer engaging and supportive mindfulness sessions that help children achieve their goals and reach their full potential.</p>
  </div>
</div>

<!-- .container -->

{% endblock contentarea %}
