{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="bg-blue-900">
  <div class="px-8 mx-auto flex flex-col lg:flex-row items-start">
    <!--Left Col-->
    <div class="flex w-full justify-center lg:pt-24 text-center lg:text-left mb-5 md:mb-0">
      <h1 data-aos="fade-right" data-aos-once="true" class="my-4 w-full text-center text-5xl font-bold leading-tight text-gray-200">Terms and Conditions</h1>
    </div>
  </div>
</div>

<!-- container -->

<!-- lorem -->
<div class="mt-16">
  <div data-aos="flip-down" class="text-left md:text-center max-w-screen-md mx-5 md:mx-auto">
    <div class="text-gray-500 flex flex-col space-y-2 text-left">
      At KIDZ RUNZ, we are committed to protecting your privacy and ensuring that your personal information is handled in accordance with data protection legislation in the UK. 

      When you donate to KIDZ RUNZ, we collect certain information, such as your name, address, email address, and payment details. This information is needed to process your donation and update you about our work. 

      We use a secure third-party payment processor to handle all online donations, and we do not store your credit card or other payment information on our servers. 

      We may use your contact details to send you updates about our work and ask for additional support, but only if you have given us your explicit consent. We won't share your personal information with anyone else for marketing purposes. 

      KIDZ RUNZ may also use anonymized donation data for statistical purposes, evaluate our fundraising campaigns' effectiveness, and identify trends in giving. This information will not identify individual donors. 

      We will retain your personal information for as long as necessary to process your donation and to comply with legal and regulatory requirements. If you have consented to receive updates from us, we will keep your contact details until you know you no longer want to receive communications. 

      You can request access to the personal information we hold about you, to update or correct it, or request that it be deleted. To request, please get in touch with us using the details provided on our website. 

      If you have any questions or concerns about our privacy policy or how we handle your personal information, please get in touch with us using the details provided on our website. We will be sure to respond to your question as soon as possible for you. 

      Thank you for supporting KIDZ RUNZ and for entrusting us with your personal information. We take our responsibility to protect your privacy seriously and will always strive to do so. 

      

      ===============

      Adding Payment Details. 

      

      By submitting this form you are agreeing to our terms and conditions 

        

      This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply. 

        

      Please read the following terms and conditions carefully as they govern the use of this website. By using the www.kidzrunz.co.uk website you accept these terms of use as from the date you first access this website. 

        

      Content 

      All material contained within the KIDZ RUNZ’ website (www.kidzrunz.co.uk is covered by a disclaimer and protected by copyright laws. 

        

      Access to this website (www.kidzrunz.co.uk) is subject to the following conditions: 

        

      Content Accuracy 

      Whilst all reasonable efforts have been made to ensure the accuracy of content, no responsibility can be taken for any error or omission. KIDZ RUNZ reserves the right at its sole discretion to discontinue or amend any aspect of this website at any time 

        

      Intellectual Property 

      KIDZ RUNZ owns the copyright of, and other intellectual property rights, in www.kidzrunz.co.uk and its contents. “Rights” means copyright, database rights, trade marks, design rights and other intellectual and proprietary rights of whatever nature, anywhere in the world. You acknowledge that (i) KIDS’ is protected by these Rights; (ii) these Rights are valid and protected in all media and technologies existing now or later developed; and (iii) except as explicitly provided otherwise, these Terms and Conditions and applicable copyright, trademark and other laws govern your use of such Rights. 

        

      You may view, print, download or store extracts from www.kidzrunz.co.uk for your personal, non-commercial reference without alteration, addition or deletion. 

        

      You may not otherwise copy, replicate, distribute, publish, commercially exploit or otherwise transfer any www.kidzrunz.co.uk material or content without prior consent. 

        

      You may not collect or use any personal details from the www.kidzrunz.co.uk website. 

        

      Trademarks 

      The "KIDZ RUNZ" logo is a trademark. All other trademarks and logos used in this website are the trademarks or logos of their respective owners. 

        

      Limitation of liability: 

      KIDZ RUNZ (and its group of charitable companies, officers, trustees, employees and agents) shall not be liable or responsible for any claim, loss, damage, costs and expenses of any nature (including without limitation for any direct, indirect, incidental, special, punitive, or consequential damages whether resulting from breach of contract, negligence or any other cause of action) arising in connection with www.kidzrunz.co.uk or your use of it (including, without limitation, for any contributions to www.kidzrunz.co.uk by users, for any viruses, bugs, trojan horses or other contamination resulting from use of www.kidzrunz.co.uk, for any interruption or delays to the use of www.kidzrunz.co.uk, or for any errors, omissions or inaccuracies in any content on www.kidzrunz.co.uk). Nothing in these terms of use shall exclude or limit any liability for death or personal injury arising from negligence, or for any other liability which cannot be excluded or limited by law. 

        

      You agree that you are solely responsible for your use of this site, and that to the fullest extent permitted at law, KIDZ RUNZ, its officers, trustees, employees and agents do not make any representations and do not give any warranties, express or implied, concerning www.kidzrunz.co.uk and its content. In particular, KIDS does not warrant or represent that www.kidzrunz.co.uk or its content is virus free. 

        

      All software provided by third parties (for example Acrobat Reader and RealPlayer) is the sole responsibility of that third party. 

        

      Links to other websites 

      This website contains links to other websites that are operated by third parties. KIDS does not accept any liability over the content of these third party sites. Such links are provided for your convenience only and you access these links at your own risk. The existence of these links do not constitute an endorsement of such websites, and your linking to these sites is at your own risk. 

        

      Indemnity 

      You agree to indemnify KIDZ RUNZ (and its group of charitable companies, officers, trustees, employees and agents) from all claims, loss, damages, costs and expenses arising in connection with your use of the www.kidzrunz.co.uk website, or your breach of any of these terms of use. This obligation shall survive the end of these terms of use and your use of this website. 

        

      Governing Law and Jurisdiction 

      These terms of use shall be governed by and construed in accordance with English Law and you agree to submit to the exclusive jurisdiction of the English courts. This Site is controlled from within the United Kingdom. KIDZ RUNZ makes no representations that this website is appropriate or available to locations outside the United Kingdom. If you access this website from outside the United Kingdom, you do so at your own risk and are responsible for compliance with applicable local laws or regulations. 

        

      If any provision of these terms of use is deemed to be invalid by a court of competent jurisdiction, this shall not affect the validity of the remaining provisions, which shall remain in full force and effect. 

        

      Modification of the Terms and Conditions KIDZ RUNZ may modify the terms of this agreement on this site. You agree to periodically review this agreement to be aware of any such revisions. Should the revision be unacceptable to you, you agree to stop accessing this site. 

        

      Your continued use of this website following such notification of any such revision(s) shall be deemed as acceptance of and agreement to abide by all such revisions. 

      

      KIDZ RUNZ is a company limited (Registered in England and Wales No. 13630550)  
    </div>
  </div>

</div>

<!-- .container -->

{% endblock contentarea %}
