{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="bg-blue-900">
  <div class="px-8 mx-auto flex flex-col lg:flex-row items-start">
    <!--Left Col-->
    <div class="flex w-full justify-center lg:pt-24 text-center lg:text-left mb-5 md:mb-0">
      <h1 data-aos="fade-right" data-aos-once="true" class="my-4 w-full text-center text-5xl font-bold leading-tight text-gray-200">Safeguarding and Enhanced DBS</h1>
    </div>
  </div>
</div>

<!-- container -->

<!-- lorem -->
<div class="mt-16">
  <div data-aos="flip-down" class="text-left md:text-center max-w-screen-md mx-5 md:mx-auto">
    <div class="text-gray-500 flex flex-col space-y-2">
    <p>KidzRunz is part of the Positive Engagement Project and acknowledges that our duty of care is to safeguard and promote the welfare of children and is committed to ensuring safeguarding practice reflects statutory responsibilities, government guidance.</p>  
    <p>You can find our safeguarding policy within our policy download pack.   KidzRunz undergoes an in-depth recruitment process and follows the guidelines of the government by doing our background checks which include two references and an Enhanced DBS ( Disclosure Barring Service) check, to ensure that all staff are suitable to work with children and young people.</p>  
    <p>With safety paramount to all our adventures, KidzRunz ensures that there will be trained first aider at hand during all activities.   Before all adventures, all activity centres and journeys are undergone with a risk assessment.</p>  
    </div>
  </div>

</div>

<!-- .container -->

{% endblock contentarea %}
