{% extends './base.html' %} {% load static %} {% block contentarea %}
{% include './banner.html' with title='Our Services' %}


<!-- container -->

<!-- lorem -->
<div class="mt-16 px-5 md:px-20 mx-auto flex flex-col md:flex-row space-y-5 md:space-x-10 md:space-y-0">
  <div class="md:w-1/2">
    <img class="rounded-lg w-full object-cover" src="{% static 'images/activities.jpg' %}">
  </div>

  <div class="md:w-1/2 text-gray-500 flex flex-col space-y-3 my-auto">
    <li>Mentoring Child and Young Adult Within Community.</li>
    <li>Everyday Assistance – day to day/weekly tasks such as taking child for appointments eg. Doctor, Barber.  Prior authorisation may be needed for these.  Respite Support for Parents/Guardians – as well as providing support for parents in the form of tips, written observations, and guidance.  </li>
    <li>Written Reports per session – A detailed account of each session, pinpointing your child’s development, where they are exceeding and where they can continue to develop.  </li>
    <li>1-1 Coaching style programmes</li>
    <li>Pick up and Drop off Service </li>
    <li>Recreational Activity packages</li>
    <li>Experience working with children who have SEN Learning Difficulties</li>
    <li>Contact Supervision of children (Children's Contact Centre)</li>
    <li>Mediation and Family Relationship Work.  </li>
    <li>Supporting Foster Carers</li>
    <li>Supporting Care Leavers</li>
    <li>Willing to travel outside of London:  Please enquire further via email for this</li>
  </div>
</div>


<!-- .container -->

{% endblock contentarea %}
