{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="bg-blue-900">
  <div class="px-8 mx-auto flex flex-col lg:flex-row items-start">
    <!--Left Col-->
    <div class="flex w-full justify-center lg:pt-24 text-center lg:text-left mb-5 md:mb-0">
      <h1 data-aos="fade-right" data-aos-once="true" class="my-4 w-full text-center text-5xl font-bold leading-tight text-green-600">Terms and Conditions</h1>
    </div>
  </div>
</div>

<!-- container -->

<!-- lorem -->
<div class="mt-16">
  <div data-aos="flip-down" class="text-left md:text-center max-w-screen-md mx-5 md:mx-auto">
    <div class="text-gray-500 flex flex-col space-y-2">
      <p>We are currently only able to assist with male children from the age of 6+ years old.   An Invoice will be sent to you during the process of booking for each session. Full payment of this must be paid at the time of booking to secure your booking.   Payment can be made via Bank Transfer or by Direct Debit.</p>
      <p>All invoices MUST be settled and paid for in full PRIOR to each session. Failure to do so will result in your session not going ahead.   We do not offer Refunds of any bookings once a booking has been made, and act in line with Consumer Rights laws in the UK.   Parents must ensure enough money is added onto the KidzRunz Activity Voucher prior to each session for each activity booked.</p>
      <p>In the unlikely event that there is not enough money on the Activity Voucher, parents will be subject to repayment of the total cost of an activity.   Minimum number of hours bookable: 3 HOURS.   We operate a flexible service which accomm</p>
    </div>
  </div>

</div>

<!-- .container -->

{% endblock contentarea %}
