{% extends './base.html' %} {% load static %} {% block contentarea %}

<div class="container px-6 mx-auto grid">
  <div class="flex justify-between my-6">
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-200">Sessions</h2>
    <a href="{% url 'console:appointment' %}" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">Make Appointment</a>
  </div>
  
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">Package</th>
            <th class="px-4 py-3">Amount</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Date</th>
            <th class="px-4 py-3">Time</th>
            <th class="px-4 py-3">Action</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for appointment in appointments %}
          
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3 text-sm">{{appointment.package}}</td>
            <td class="px-4 py-3 text-sm">£{{appointment.package.price}}</td>
            <td class="px-4 py-3 text-xs">
              {% if appointment.status is 1 %}
              <span class="px-2 py-1 font-semibold leading-tight text-yellow-500 bg-yellow-100 rounded-full dark:bg-yellow-500 dark:text-yellow-100"> {{appointment.get_status_display}} </span>
              {% elif appointment.status is 2 %}
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"> {{appointment.get_status_display}} </span>
              {% elif appointment.status is 3 %}
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100"> {{appointment.get_status_display}} </span>
              {% endif %}
            </td>
            <td class="px-4 py-3 text-sm">{{appointment.datetime|date}}</td>
            <td class="px-4 py-3 text-sm">{{appointment.datetime|time}}</td>
            <td class="px-4 py-3 text-sm">
              <div class="flex space-x-2">
              {% comment %} {{appointment.transactions.all}} {% endcomment %}
              {% if not appointment.transactions.all and not appointment.status is 2 and not appointment.status is 3 %}
              <a href="{% url 'console:payment' appointment_id=appointment.id %}" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-green-600 border border-transparent rounded-lg active:bg-green-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-blue">Pay now</a>
              {% endif %}
              {% if not appointment.transactions.all and not appointment.status is 3 %}
              <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="appointment_id" value="{{appointment.id}}">
                <button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-blue">Cancel</button>
              </form>
              </div>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6">
              <div class="flex p-5 justify-center"> 
                You don't have any sessions booked
              </div>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

<script>

</script>

{% endblock contentarea %}
