{% extends './base.html' %} {% load static %} {% block contentarea %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" defer></script>
<script src="https://js.braintreegateway.com/web/dropin/1.33.7/js/dropin.js"></script>

<div class="flex justify-center items-center py-10">
<div class="bg-gray-200 p-4 w-3/4 rounded-lg">
  <h2 class="text-xl font-bold mb-4">Make Appointment</h2>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="flex  space-x-5">
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date and Time *</label>
        <div id="datetimediv" class="flex w-full"></div>
        <input type="hidden" name="datetime" id="datetime" onchange="hmm(event.target.value)" />
      </div>
      <div class="w-1/2">
        <label for="package" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a package *</label>
        <select name="package" id="package" required class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Choose a package</option>
          {% for package in packages %}
          <option value="{{ package.id }}">{{ package.name }} Package ({{ package.duration }} Hrs)</option>
          {% endfor %}
        </select>

        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description (Alergies and special needs)</label>
        <textarea name="description" id="description" class="mb-4 w-full py-2 px-3 border rounded-md"></textarea>
      </div>
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 -right-0 text-white font-bold py-2 px-4 rounded-full">Schedule Appointment</button>
  </form>
  
</div>
</div>


<script>
  function hmm(e) {
    console.log(e);
  }
  $(document).ready(function () {
    $("#datetimediv").datetimepicker({
      minDate: 0,
      format: "Y-m-d h:i",
      inline: true,
      allowTimes: ["12:00", "13:00", "15:00", "17:00", "17:05", "17:20", "19:00", "20:00"],
      onChangeDateTime: function (dp, $input) {
        console.log($input.val());
        $("#datetime").val($input.val());
      },
    });
  });

  var button = document.querySelector("#submit-button");

  braintree.dropin.create(
    {
      authorization: "sandbox_g42y39zw_348pk9cgf3bgyw2b",
      selector: "#dropin-container",
    },
    function (err, instance) {
      button.addEventListener("click", function () {
        instance.requestPaymentMethod(function (err, payload) {
          // Submit payload.nonce to your server
        });
      });
    }
  );
</script>

{% endblock contentarea %}
